<!DOCTYPE Html>
<html lang="en" class="no-touch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website showing resume and personal details">
    <meta name="keywords" content="numbfall, resume, CV, personal">
    <title>Usman Khwaja &ndash; Résumé</title>
    <link rel="canonical" href="https://numbfall.netlify.com" />
    <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <header id="header-404">
        <section class="slogan">
            <h3>
                Oh snap!</h3>
            <h2>
                Page Not found</h2>
            <p>
                <a href="/">← Back to home page</a></p>
        </section>
    </header>
    <script src="/assets/js/main.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" onload="onloadFonts();" async></script>
</body>

</html>